body
 {
  margin:auto;
 }
#main
 {
 	float:left;
 	width:100%;
 }
#instructions
 {
 	margin:5px;
 	font-size: 80%;
 	float:left;
 	/*border:1px dotted black;*/
 	width:55%;
 	text-align:center;
 }
#addmark
 {
 	margin: 5px;
 	float:right;
 	position:relative;
 	text-align: center;
 	max-width:20%;
 }
#showmark
 { 
 	margin:5px;
 	text-align: center;
 	position: relative;
 	float:right;
 	max-width:20%;
 }