body
 {
  margin:auto;
 }
#main
 {
 	float:left;
 	width:100%;
 }
#instructions
 {
 	margin:5px;
 	float:left;
 	border:1px dotted black;
 	width:40%;
 }
#addmark
 {
 	margin: 5px;
 	float:right;
 	position:relative;
 	text-align: center;
 }
#showmark
 { 
 	margin:5px;
 	text-align: center;
 	position: relative;
 	float:right;
 }