body
 {
  margin:auto;
 }
#main
 {
 	float:left;
 	width:100%;
 }
#margin
 {
 	border-right: 3px solid #5555DD;
 	width:20%;
 	position:relative;
 }
#instructions
 {
 	margin:5px;
 	font-size: 80%;
 	float:left;
 	/*border:1px dotted black;*/
 	width:55%;
 	text-align:center;
 }
#addmarkcontainer
 {
 	margin: 5px;
 	float:left;
 	position:relative;
 	text-align: center;
 	width:20%;
 }
#showmarkcontainer
 { 
 	position:relative;
 	float:left;
 	margin:5px;
 	text-align: center;
 	position: relative;
 	width:20%;
 }